@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
}

header{
    width: 100%;
    height: 64px;
    background-color: #f5f5dc;
    position:fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
}

main{
    
    width: 100%;
    height: 80%;
}
footer{
    width: 100%;
    height: 10%;
    
    
}
/*--------------HEADER-------------*/
#headright{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

#tipog{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
   
}
#logo{
    display: flex;
    align-items: center;
    width: auto;
    
}
.cube{
    width: 35px;
    height: 30;
    border-radius: 50px;
    margin: 5px;
    
    
}
#pesquisa{
    height: 100%;
    display: flex;
    align-items: center;
}
#inputpesquisa{
    border: none;  
    border-radius: 50px;
    width: 100%;
    font-size: medium;
    color: rgba(0, 0, 0, 0.274);
}
#iconpesq{
    width: 20px;
}



/*----------MAIN------------------*/
.menu{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f5f5dc;
    height: 100vh;
    position: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: -200px;
    top: 64px;
    transition: all 0.4s ease-in-out;
    width: 200px;
    z-index: 998;
    font-size:medium;
    list-style: none;
}
.menu.show{
    left:60px;
    
}

.menu li{
    
    cursor: pointer;
    height: 1.5rem;
    padding: 5px;
    margin: 5px;
    
}
.menu li:hover{
    background-color: #e7e7d4;
    opacity: .5;
    transition: all .3s;
}

#categorias{
   overflow-y: hidden;
}
.submenu{
    list-style: none;
   

}
.submenu li{
    z-index: 1000;  
}
#Iconmenu hr{
    width: 100%;
}

#Iconmenu{
    position: absolute;
    top: 64px;
    list-style: none;
    text-align:center;
    z-index: 1000;
    width: 60px;
    height: 100vh;
    background-color: #f5f5dc;
   
}
.icons-menu{
    width: 1.5rem;
    height: 1.5rem;
    margin:5px;
    cursor: pointer;
    padding: 3px;
}
.icons-menu:hover{
    background-color: #e7e7d4;
    opacity: .5;
    transition: all .3s;
}



/*Footer*/

#ICONS8{
    display: none;
}