@charset "UTF-8";
@import url();

*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
}

header{
    width: 100%;
    height: 64px;
    background-color: #f5f5dc;
    position:fixed;
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    
    width: 100%;
    height: 80%;
}
footer{
    width: 100%;
    height: 10%;
    
    
}
/*--------------HEADER-------------*/
#headright{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    z-index: 1100;
}

#tipog{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
    
   
}
#logo{
    display: flex;
    align-items: center;
    width: auto;
    
}
.cube{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
    box-shadow:1px 1px 3px black;
    
    
}
#pesquisa{
    height: 100%;
    overflow: hidden;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.274);
    border-radius: 50px;
    background-color: white;
}
#inputpesquisa{
    border: none;
    margin-left: 15px;
    width:100%;
    height: 30px;
    font-size: large;
    z-index: 1011;
    
}
#inputpesquisa:focus{
    outline: none;
    
}
#pesqdiv{
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #bbbbae;
}

#cadastro{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}
.loginbtn{
    padding: 10px;    
    color: black;
    width:150px;
    height: 65%;
    background-color: #f5f5dc;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.loginbtn i {
    margin-right: 5px;
  }
.loginbtn:hover{
    opacity: .9;
    background-color: #bbbbae;
    color: white;
}

/*----------MAIN------------------*/
.menu{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f5f5dc;
    height: 100vh;
    position: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: -200px;
    top: 64px;
    transition: all 0.4s ease-in-out;
    width: 200px;
    z-index: 998;
    font-size:16px;
    list-style: none;
}
.menu.show{
    left:60px;
    
}

.menu li{
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    height: 40px;
    padding-left: 5px;
   
    
}
.menu li:hover{
    background-color: #e7e7d4;
    opacity: .5;
    transition: all .3s;
    border-radius: 5px;
}
#categorias i{
    margin-left: 10px;
    font-size: small;
}

.submenu{
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.096);
    list-style: none;
    font-size: 15px;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    

}
.submenu.aberto{
    display: flex;
}
.subitens{
        
        border-radius: 5px;
        cursor: pointer;
        height: 1.5rem;
        padding: 5px;
        margin: .3rem;
        flex-direction: column;
    
}

.subitens:hover{
    background-color: #e7e7d4;
    opacity: .5;
    transition: all .3s;
}
#Iconmenu hr{
    width: 100%;
}
#Iconmenu{
    position: fixed;
    top: 64px;
    list-style: none;
    text-align:center;
    z-index: 1000;
    width: 60px;
    height: 100vh;
    background-color: #f5f5dc;
    font-size: 18px;
   
}
.icons-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
    

}
.icons-menu i{
    color:black  ;
}
.icons-menu:hover{
    background-color: #e7e7d4;
    border-radius: 10px;
    opacity: .5;
    transition: all .3s;
}

/*Footer*/

#ICONS8{
    display: none;
}