@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
}

header{
    width: 100%;
    height: 64px;
    background-color: #f5f5dc;
    position:fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
}

main{
    
    width: 100%;
    height: 80%;
}
footer{
    width: 100%;
    height: 10%;
    
    
}
/*--------------HEADER-------------*/
#headright{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

#tipog{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
    
   
}
#logo{
    display: flex;
    align-items: center;
    width: auto;
    
}
.cube{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
    box-shadow:1px 1px 3px black;
    
    
}
#pesquisa{
    height: 100%;
    overflow: hidden;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
   
    color: rgba(0, 0, 0, 0.274);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
}
#inputpesquisa{
    border: none;
    margin-left: 15px;
    width: 50%;
    height: 30px;
    font-size: large;
    z-index: 1011;
    
}
#pesqdiv{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #e7e7d4;
}
#iconpesq{
    width: 20px;
   
   
}
#cadastro{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginbtn{
    color: white;
    background-color:#e7e7d4 ;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: medium;
    cursor: pointer;
}
.loginbtn:hover{
    opacity: .8;
}

/*----------MAIN------------------*/
.menu{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f5f5dc;
    height: 100vh;
    position: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: -200px;
    top: 64px;
    transition: all 0.4s ease-in-out;
    width: 200px;
    z-index: 998;
    font-size:medium;
    list-style: none;
}
.menu.show{
    left:60px;
    
}

.menu li{
    
    cursor: pointer;
    height: 1.5rem;
    padding: 5px;
    margin: .515rem;
    
}
.menu li:hover{
    background-color: #e7e7d4;
    opacity: .5;
    transition: all .3s;
    border-radius: 5px;
}

.submenu{
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.096);
    list-style: none;
    font-size: 15px;
    border-radius: 20px;
    margin-top:-5px ;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
    

}
.submenu.aberto{
    display: flex;
}
.subitens{
        
        border-radius: 5px;
        cursor: pointer;
        height: 1.5rem;
        padding: 5px;
        margin: .3rem;
        flex-direction: column;
    
}

.subitens:hover{
    background-color: #e7e7d4;
    opacity: .5;
    transition: all .3s;
}
#Iconmenu hr{
    width: 100%;
}
#Iconmenu{
    position: absolute;
    top: 64px;
    list-style: none;
    text-align:center;
    z-index: 1000;
    width: 60px;
    height: 100vh;
    background-color: #f5f5dc;
   
}
.icons-menu{

    width: 1.5rem;
    height: 1.5rem;
    margin:.5rem;
    cursor: pointer;
    padding: 3px;
}
.icons-menu:hover{
    background-color: #e7e7d4;
    border-radius: 10px;
    opacity: .5;
    transition: all .3s;
}

/*Footer*/

#ICONS8{
    display: none;
}